*{
  
  margin: 0rem;
  
  padding: 0rem;
  
}







nav{
  
  
  
  background-color: black;
  
  height: 6.0rem;
  
  text-align: left;
  
  
  
}

nav ul{
  
  list-style: none;
  display: flex;
  
  
  
}


nav ul li{
  
  
  
  
  color: white;
  
margin: 2.5rem;
  
  margin-left: 9rem;
  
  
  
  
}



.bg1{
  
  border: 0.2rem solid white;
  height: 50.0rem;
  width: 100%;
  
  
  background-color: skyblue;
  
  
}

.bg2{
  
  border: 0.000000000000000000002rem solid white;
  height: 50.0rem;
  width: 50%;
  margin-left: 15.0rem;
  margin-top: -45.0rem;
  background-color: whitesmoke;
  
  
  
}

.open{
  
  border: 5px solid white;
  height:19.0rem;
  width: 60%;
  margin-left: 6.0rem;
  
  margin-top: 2.0rem;
  
  background-image: url("sati.png");
  background-size: 100% 100%;
  
  
}



.oai{
  
  border: 0.00000000000005rem solid white;
  
  height: 22rem;
  width: 17rem;
  
  margin-top: 21.0rem;
  





  
}


.cl{
  
  margin-top: 6.0rem;
  
  margin-left: 15.0rem;
  
  
  
  
  
}

.cpl{
  
  margin-left: 15rem;
  
  
  
  
}



.skills{
  

  margin-left: 14.5rem;
  
  margin-top: 4.0rem;
  
}

.social{
  
  margin-left: 16.0rem;
  margin-top: 1.0rem;
  
  
  
  
  
}


.edu{
  
  border: 0.2rem solid skyblue;
  
  height: 50.0rem;
  width: 100%;
  background-color: skyblue;
  margin-top: 4.0rem;
  
  
  
  
}

.soft{
  
  margin-top: 8.0rem;
  margin-left: 20.0rem;
  color: white;

  
  
  
  
  
  
  
}

.a{
  
margin-top: 8.0rem;
  margin-left: 17.0rem;
  
  
  
}


.b{
  
  margin-top: -1.9rem;
  margin-left: 29.3rem;
  color: white;
  
  
  
  
  
  
  
  
  
  
}

.c{
  
  margin-top: 6rem;
  margin-left: 17rem;
  
  
}


.d{
  
  color: white;
  margin-top: -1.9rem;
  margin-left: 29.3rem;
}


.e{
  
  margin-top: 6rem;
  
  margin-left: 17rem;
  
  
}


.f{
  
  color: white;
  margin-top: -1.9rem;
  
  margin-left: 29.3rem;
  
}

.z{
  
  margin-top: 6rem;
  margin-left: 17rem;
  
  
  
}


.v{
  
  color: white;
  margin-top: -1.9rem;
  margin-left: 29.3rem;
  
}







.bottom{
  
  bottom: 0.2rem solid black;
  
  width: 100%;
  
  height: 30.0rem;
  
  background-color: black;
  
  margin-top: 4.0rem;
  
  
  
  
  
}



.gf{
  
  color: white;
  
  
  
  margin-left: 8.0rem;
  
  
  
}


.soz{
  
  color: white;
  margin-left: 6.0rem;
  margin-top: 3.0rem;
  
  
  
  
}


.la{
  color: white;
  
  margin-top: 3.0rem;
  margin-left: 6.0rem;
  
  
}


.gui{
  
  margin-top: 40px;
  
  
  border: 0.2rem solid black;
  height: 1.2rem;
  width:7.0rem;
  
  margin-left: 6.0rem;
  margin-top: -4.5rem;
  background-color: white;
  
  
}


.ljk{
  
  color: white;
  text-decoration: underline black;
  
  
}































@media(max-width: 998px){
  
  html{
    
    font-size: 95%;
    
    
    
  }
  
  
  
  
  
}



@media(max-height: 769px){
  
  html{
    
    font-size: 45%;
    
    
    
  }
  
  
  
  
  
  
}





















